/target
truth/
python/pysaal/assets/
python/pysaal/*.dylib
python/pysaal/*.so
python/pysaal/*.pyi
python/pysaal/py.typed
fort.*
venv
.mypy_cache/
.pytest_cache/
.benchmarks/
*.DS_Store
__pycache__/
.saal_downloads/
*.pyc