/target
truth/
python/saal/assets/
python/saal/*.dylib
python/saal/*.so
python/saal/*.pyi
python/saal/py.typed
fort.*
venv
.mypy_cache/
.pytest_cache/
.benchmarks/
*.DS_Store
__pycache__/
.saal_downloads/