[tasks.clean-all]
description = "Remove and binaries from previous builds"
script = [
  "cargo clean",
  "rm -rf python/pysaal/*.so",
  "rm -rf python/pysaal/*.dylib",
  "rm -rf python/pysaal/*.dll",
  "rm -rf python/pysaal/assets/*",
  "rm -rf python/pysaal/*.pyi",
]

[tasks.build-mac-arm]
description = "Build the wheel for macOS ARM"
script = ["maturin build --release"]
dependencies = ["clean-all"]

[tasks.build-mac-x86]
description = "Build the wheel for macOS x86"
script = ["maturin build --release"]
dependencies = ["clean-all"]

[tasks.build-linux-arm]
description = "Build the wheel for Linux ARM"
script = [
  "maturin build --release --strip --target aarch64-unknown-linux-musl --compatibility musllinux_1_2",
]
dependencies = ["clean-all"]

[tasks.build-linux-x86]
description = "Build the wheel for Linux x86"
script = [
  "maturin build --release --target x86_64-unknown-linux-gnu --compatibility manylinux2014",
]
dependencies = ["clean-all"]


[tasks.build-windows]
description = "Build the wheel for Windows"
script = ["maturin build --release"]
dependencies = ["clean-all"]

[tasks.install-mac-arm]
description = "Install the wheel for macOS ARM"
script = ["pip install --force-reinstall target/wheels/*.whl"]
dependencies = ["build-mac-arm"]

[tasks.install-mac-x86]
description = "Install the wheel for macOS x86"
script = ["pip install --force-reinstall target/wheels/*.whl"]
dependencies = ["build-mac-x86"]

[tasks.install-linux-arm]
description = "Install the wheel for Linux ARM"
script = ["pip install --force-reinstall target/wheels/*.whl"]
dependencies = ["build-linux-arm"]

[tasks.install-linux-x86]
description = "Install the wheel for Linux x86"
script = ["pip install --force-reinstall target/wheels/*.whl"]
dependencies = ["build-linux-x86"]

[tasks.install-windows]
description = "Install the wheel for Windows"
script = ["pip install --force-reinstall ."]
dependencies = ["build-windows"]

[tasks.test-mac-arm]
description = "Run the tests for macOS ARM"
command = "pytest"
args = ["-v", "--tb=short", "tests"]
dependencies = ["install-mac-arm"]

[tasks.test-mac-x86]
description = "Run the tests for macOS x86"
command = "pytest"
args = ["-v", "--tb=short", "tests"]
dependencies = ["install-mac-x86"]

[tasks.test-linux-arm]
description = "Run the tests for Linux ARM"
command = "pytest"
args = ["-v", "--tb=short", "tests"]
dependencies = ["install-linux-arm"]

[tasks.test-linux-x86]
description = "Run the tests for Linux x86"
command = "pytest"
args = ["-v", "--tb=short", "tests"]
dependencies = ["install-linux-x86"]

[tasks.test-windows]
description = "Run the tests for Windows"
command = "pytest"
args = ["-v", "--tb=short", "tests"]
dependencies = ["install-windows"]

[tasks.publish-mac-arm]
description = "Publish the wheel for macOS ARM"
command = "twine"
args = ["upload", "target/wheels/*"]
dependencies = ["test-mac-arm"]

[tasks.publish-mac-x86]
description = "Publish the wheel for macOS x86"
command = "twine"
args = ["upload", "target/wheels/*"]
dependencies = ["test-mac-x86"]

[tasks.publish-linux-arm]
description = "Publish the wheel for Linux ARM"
command = "twine"
args = ["upload", "target/wheels/*"]
dependencies = ["test-linux-arm"]

[tasks.publish-linux-x86]
description = "Publish the wheel for Linux x86"
command = "twine"
args = ["upload", "target/wheels/*"]
dependencies = ["test-linux-x86"]

[tasks.publish-windows]
description = "Publish the wheel for Windows"
command = "twine"
args = ["upload", "target/wheels/*"]
dependencies = ["test-windows"]
